* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-widht:480px) {

  nav{
    div{
      .contLogo{
        .logo{
          width: 50px;
          margin: auto;
        }
      }
    }
  }
  
  div{
    .formu{
      display: flex;
      flex-direction:initial;
      justify-content: left;
      width: 350px;
      height: 300px;
    }
  }
  .contact{
    text-align: center;
        font-size: 40px;
  }
}
