main {
    section {
        .h2 {
            @include titulosPrincip
        }
    }

    .contFotos {
        padding: 2rem;

    }

    .card-body {
        .card-title {
            display: flex;
            padding: 20px;
            color: rgb(90, 18, 158);
            font-size: 20px;
            text-align: left;

        }
    }

}