@mixin titulosPrincip(){
    padding: 10px;
    font-size: 50px;
    text-align: center;
    color: $colorTitulos;
    font-size: $tipografiaTitulos;
}
@mixin textosCentrales{
    padding: 1rem;
    line-height: 1.5;
    font-style: $tipografiaTitulos;
    margin: 2rem;
}
@mixin imagenes($tamano){
    display: flex;
    text-align: center;
    margin: auto;
    border-radius: 1rem;
    width: $tamano;
}